<div>
	<div>
		@foreach (var order in Model.Items)
		{
			var isPaid = order.Status == OrderStatus.Paid.ToString();
			var isCancelled = order.Status == OrderStatus.Cancelled.ToString();

			<tr style="cursor: pointer;" 
				data-order-id="@order.OrderId" 
				class="order-row @(isPaid ? "paid-row" : isCancelled ? "cancelled-row" : "") " 
				id="order-@order.OrderId"
			>
				<td data-label="OrderId">@order.OrderId</td>
				<td data-label="Customer">@order.Customer</td>
				<td data-label="Status">@order.Status</td>
				<td data-label="Total">@((order.Total).ToString("c"))</td>
				<td data-label="CreatedAt">@order.CreatedAt</td>
				<td data-label="Paid">
					@if (order.Status != OrderStatus.Cancelled.ToString())
					{
						<input type="checkbox" class="mark-paid-checkbox" data-order-id="@order.OrderId" @(isPaid ? "checked disabled" : "") />
					}
				</td>
			</tr>
			<tr id="order-items-@order.OrderId" style="display: none; background-color: #f9f9f9;">
				<td colspan="5" id="order-items-content-@order.OrderId">
					<em>Loading...</em>
				</td>
			</tr>
		}
	</div>
</div>
