<div>
	<div>
		@foreach (var order in Model.Items)
		{
			<tr style="cursor: pointer;" data-order-id="@order.OrderId" class="order-row">
				<td data-label="OrderId">@order.OrderId</td>
				<td data-label="Customer">@order.Customer</td>
				<td data-label="Status">@order.Status</td>
				<td data-label="Total">@((order.Total).ToString("c"))</td>
				<td data-label="CreatedAt">@order.CreatedAt</td>
			</tr>
			<tr id="order-items-@order.OrderId" style="display: none; background-color: #f9f9f9;">
				<td colspan="5" id="order-items-content-@order.OrderId">
					<em>Loading...</em>
				</td>
			</tr>
		}
	</div>
</div>
