@model PaginatedOrders
@{
    var filter = ViewBag.Filter as OrderFilter;
}
<div class="row col-12">
	<div class="col-6"></div>
	<div class="col-6 text-end">
		<a class="btn btn-outline-primary" asp-controller="OrderViewer" asp-action="OrderCreate">
			<i class="bi bi-plus-square"></i>
			Create New Order
		</a>
	</div>
</div>
<div class="row col-12">
	<div class="col-9">
		<form id="filter-form" method="get">
			<div class="col-md-3">
				<label for="fromDate">From Date</label>
				<input type="date" id="fromDate" name="FromDate" class="form-control"
					   value="@(filter?.FromDate?.ToString("yyyy-MM-dd"))" />
			</div>
			<div class="col-md-3">
				<label for="toDate">To Date</label>
				<input type="date" id="toDate" name="ToDate" class="form-control"
					   value="@(filter?.ToDate?.ToString("yyyy-MM-dd"))" />
			</div>
			<br />
			<hr />
			<table class="table">
				<thead>
					<tr>
						<th>Order Id<input type="text" name="OrderId" value="@filter?.OrderId" placeholder="Order ID" /></th>
						<th>Customer<input type="text" name="Customer" value="@filter?.Customer" placeholder="Customer" /></th>
						<th>
							<select name="Status" class="form-control">
								Status
								<option value="">All</option>
								@foreach (var status in Enum.GetValues(typeof(OrderStatus)).Cast<OrderStatus>())
								{
									var selected = filter?.Status == status.ToString() ? true : false;
									<option value="@status" selected="@selected">@status</option>
								}
							</select>
						</th>
						<th>Total<input type="number" name="Total" value="@filter?.Total" placeholder="Total" /></th>
						<th>Created Date</th>
					</tr>
				</thead>
				<tbody id="results-container">
						@await Html.PartialAsync("_OrderTablePartial", Model)
				</tbody>
			</table>

			<div class="pagination"> 
				@for (int i = 1; i <= Model.TotalPages; i++)
		 		{ 
			 		<a asp-action="Index"
			 		   asp-route-PageNumber="@i"
			 		   asp-route-PageSize="@Model.PageSize"
			 		   asp-route-OrderId="@filter?.OrderId"
			 		   asp-route-Customer="@filter?.Customer"
			 		   asp-route-Status="@filter?.Status"
			 		   asp-route-Total="@filter?.Total"
			 		   class="@(i == Model.CurrentPage ? "active" : "")">
			 			@i
			 		</a>
			 	}
			</div>
		</form>

		
	</div>
	<div class="col-2">
		<div id="order-summary" class="mb-3">
			<div><strong>Filtered Orders:</strong> <span id="order-count">0</span></div>
			<div><strong>Grand Total:</strong> <span id="order-total">0</span></div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/main.js"></script>
	<script src="~/js/widget-summary.js"></script>
}
